@charset "utf-8";
* {
  font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif, Microsoft JhengHei;
}

html,
body {
  height: 100%;
  color: #3e454f;
}

a {
  color: #666;
}

.container {
  padding-bottom: 50px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.red-bg {
  background-color: #2d9c00;
  min-height: 100%;
  position: relative;
}

.gray-bg {
  background-color: #f3f3f4;
  min-height: 100%;
  position: relative;
}

.form-login {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 15%;
  margin-left: -200px;
  background-color: #ffffff;
  padding: 30px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* background-image: url(../images/pape-bg.gif); */
  background-repeat: no-repeat;
}

.form-login label {
  width: 100%;
  margin-bottom: 12px;
}

/* header {} */

header {
  padding: 0.1px 0 0 0;
}

header .logo {
  background-image: url(../images/logo.png);
  background-position: 12px 50%;
  color: #29ad48;
  margin: 0 auto;
  padding: 24px 0 0 12px;
}

header .navbar-right {
  margin-right: 0;
  margin-top: -35px;
  color: #666;
}

header .navbar-right li {
  margin-right: 1.5em;
}

header .navbar-right li span {
  margin-right: .4em;
}

nav.menu {
  /*background-color: #f8f8f8;*/
  position: relative;
  z-index: 10;
  background: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #f4f4f4, #e0e0e0);
  background: -moz-linear-gradient(top, #f4f4f4, #e0e0e0);
  background: -ms-linear-gradient(top, #f4f4f4, #e0e0e0);
  background: -o-linear-gradient(top, #f4f4f4, #e0e0e0);
  background: linear-gradient(top, #f4f4f4, #e0e0e0);
}

nav.menu ul {
  padding-left: 0;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  white-space: nowrap;
  /* 避免文字換行 */
  margin-bottom: 0;
}

nav.menu ul li a:hover {
  color: #ffffff;
  background-color: #d80c18;
  text-decoration: none;
}

nav.menu ul li {
  position: relative;
  /* 使子選單依照母選單的座標顯示 */
}

/* 陰影 */

.collapse {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 設定母選單的連結樣式 */

nav.menu div ul li a {
  text-decoration: none;
  color: #222;
  padding: 10px 25px 10px 20px;
  display: block;
  /*background: #d80c18 url(../images/detail.png) bottom right no-repeat;*/
}

nav.menu ul li ul li a {
  /*background: #9ea2a7 url(../images/detail.png) bottom right no-repeat;*/
  background-color: #f3f3f3;
  color: #29ad48;
}

/* 當母選單下沒有子選單時，也就是說只有一個連結時，隱藏detail.png */

/* nav.menu ul li a:only-child {
    background: #f8f8f8;
} */

nav.menu ul li ul li a:only-child {
  background-color: #f3f3f3;
}

nav.menu ul li:hover>a {
  color: #fff;
  background-color: #3c3c3c !important;
}

nav.menu ul li:hover>ul {
  display: block;
  /* 滑鼠滑入母選單後，顯示子選單 */
  padding-left: 0;
}

nav.menu>ul>li {
  display: inline-block;
  /* 使一級選單排成一橫列 */
}

/* 二級選單顯示於一級選單的正下方 */

nav.menu ul ul {
  position: absolute;
  top: 100%;
  list-style: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

/* 三級選單則顯示於二級選單的右方 */

nav.menu ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.breadcrumb>.active {
  color: #29ad48;
}

.breadcrumb {
  background-color: #f8f8f8;
}

.content {
  margin: 20px auto 0 auto;
  width: 96%;
  padding-bottom: 150px;
  min-height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.nav-tabs {
  border-bottom: 1px solid #29ad48;
}

.nav-tabs>li>a {
  padding: 8px;
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #29ad48;
  background-color: #eae8dc;
  color: #29ad48;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #29ad48;
  border: 1px solid #29ad48;
  border-bottom-color: transparent;
}

.tab-content {
  padding: 20px;
}

.event-img img {
  border: 1px solid #999999;
  margin: 12px 0;
}

code span.glyphicon {
  margin-right: 5px;
}

.tip {
  color: #999999;
  font-size: 13px;
  padding: 4px 0 0 0;
}

input {
  padding: 2px 4px;
}

.s {
  color: #29ad48;
  margin-right: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-danger {
  background-color: #ffffff;
  border-color: #0070ae;
  color: #0070ae;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #0070ae;
  border-color: #0070ae;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:active:focus {
  color: #ffffff;
  background-color: #0070ae;
  border-color: #0070ae;
}

.btn-del {
  background: url(../images/img_15.png) no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  border: none;
}

.btn-white {
  color: #0070ae;
  background-color: #fff;
  border-color: #0070ae;
}

.btn-white:hover {
  color: #fff;
  background-color: #0070ae;
  border-color: #0070ae;
}

.btn-white:active,
.btn-white:focus,
.btn-white:active:focus {
  color: #fff;
  background-color: #3e454f;
  border-color: #3e454f;
}

.btn-gray {
  color: #ffffff;
  background-color: #3c3c3c;
  border-color: #3c3c3c;
}

.btn-gray:hover,
.open>.dropdown-toggle.btn-gray:hover {
  color: #3e454f;
  background-color: #ebeced;
  border-color: #c6c6c8;
}

.btn-gray:active,
.btn-gray:focus,
.btn-gray:active:focus,
.open>.dropdown-toggle.btn-gray,
.open>.dropdown-toggle.btn-gray:focus {
  color: #fff;
  background-color: #9ea2a7;
  border-color: #9ea2a7;
}

.ts-pagination>li>a,
.ts-pagination>li>span {
  color: #3e454f;
}

.ts-pagination>.active>a,
.pagination>.active>span,
.ts-pagination>.active>a:hover,
.ts-pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #2d9c00;
  border-color: #2d9c00;
  color: #fff;
}

.ts-pagination>li>a:hover,
.ts-pagination>li>span:hover,
.ts-pagination>li>a:focus,
.ts-pagination>li>span:focus {
  color: #3e454f;
  background-color: #ebeced;
}

.w-text {
  width: 400px;
}

.w-date {
  width: 180px;
}

.text-center nav ul.pagination {
  margin: 0;
}

.dropdown-menu {
  /* min-width: auto;
    right: 0;
    left: auto; */
  border: none;
  padding: 0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #26922c;
  color: #fff;
}

.search {
  border: 1.4px solid #26922c;
  border-radius: 6px;
  margin: 0 auto 20px auto;
  display: table;
}

.table-search th,
.table-search td {
  padding: 0em 0.5em;
}

.table-search th {
  background: #f1fcf0;
  border-radius: 5px 0 0 5px;
  color: #26922c;
  border-right: 1px solid #26922c;
}

.table-search td ul {
  margin: 0;
  padding-left: 0;
}

.table-search td ul li {
  list-style: none;
  padding: .5em;
  display: inline-block;
  /*min-width: 32.5%;*/
  white-space: nowrap;
}

.table-search tbody tr td:last-child {
  border-left: 1px solid #29ad48;
  border-radius: 0 6px 6px 0;
}

.top-line {
  border-top: 10px solid #3c3c3c;
}

.box-01 {
  margin: 20px 0;
}

.box-01 ul {
  padding-left: 0;
}

.box-01 ul li {
  list-style: none;
  margin-bottom: 12px;
}

.box-01 ul li span.label {
  font-size: 14px;
  margin-right: .5em;
}

.label-danger {
  background-color: #26922c;
}

.label-gray {
  background-color: #3e454f;
}

.label-lightgray {
  background-color: #9ea2a7;
}

.table-03 {
  background-color: #ffffff;
  margin-top: 12px;
}

.table-03 th,
.table-03 td {
  text-align: center;
}

.table-03 tbody tr th {
  border-bottom: 3px solid #3e454f;
}

.error-header {
  background: #fff;
  height: 280px;
}

.error-container {
  background: rgba(0, 0, 0, .05);
  text-align: center;
  white-space: nowrap;
}

.error-container h4 {
  font-size: 60px;
  margin: -86px 0 0 0;
  text-align: center;
  color: #2d9c00;
  font-weight: 100;
  padding-top: 30px;
}

.error-divider {
  margin-top: -27px;
  padding: 30px 0;
}

.error-container h5 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  color: #ffffff;
}

.btn-return {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  margin: 90px auto 30px auto;
}

.btn-return:hover,
.btn-return:focus {
  background-color: #ffffff;
  color: #0070ae;
}

.msg {
  width: 90%;
  margin: 16px auto;
  color: #3e454f;
  font-size: 17px;
}

.modal-bg-red {
  background-color: #52a753;
  border-radius: 4px 4px 0 0;
}

.modal-bg-red>.modal-title {
  color: #fff;
}

.t-center {
  text-align: center;
}

/* footer */

/* 檔案上傳 */

.file-box-tip {
  margin-bottom: 12px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  color: #9ea2a7;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px dashed #9ea2a7;
  display: inline-block;
  cursor: pointer;
  /* auto: 5px; */
}

.inputfile:focus+label,
.inputfile+label:hover {
  border: 1px solid #3e454f;
  color: #3e454f;
}

.table-02>tbody>tr:first-child>td>.b-up {
  display: none;
}

.table-02>tbody>tr:last-child>td>.b-down {
  display: none;
}

.table-04>tbody>tr>th {
  white-space: nowrap;
}

.table-04>tbody>tr>td {
  white-space: nowrap;
}

.formStyle {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin: 5px 10px 5px 0;
}

.hostright {
  margin-left: 5px;
}

.hostleft {
  margin-left: 10px;
}

.hostlefts {
  margin-left: 5px;
}

.lasthost {
  margin: 0 10px 0 5px;
}

.btn-success {
  background: #fff;
  color: #29ad48;
  border-color: #29ad48;
}

button.btn.btn-success.btn-green {
  background: #26922c;
  color: #fff;
  border-color: #26922c;
}

button.btn.btn-success.btn-green:hover {
  background: #29ad48;
  color: #fff;
  border-color: #29ad48;
}

.flexHA {
  display: flex;
  justify-content: space-between;
}

.tableTitle th {
  background: #f1fcf0;
  color: #26922c;
}

.td-align {
  text-align: right;
}

.tableRecord td {
  text-align: left;
}

.tableRecord td:nth-of-type(3) {
  text-align: right;
}

.flexBtn {
  align-items: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 0 10px;
}
