<ol class="breadcrumb">
  <span>權限管理</span>/
  <span class="active">群組功能管理 - 群組功能管理</span>
</ol>
<div class="content">
  <div role="tabpanel" class="tab-pane active" id="coupon02">
    <div class="text-right btn-ft">
      <button mat-stroked-button color="primary" (click)="showAddPostDialog()">Save</button>
      <button mat-stroked-button color="primary" [routerLink]="[ '/mgt01/mgt010300' ]">Cancel</button>
    </div>
    <form [formGroup]="form" novalidate>
      <table class="table table-striped table-01 tableEdit">
        <tr>
          <th>
            <span class="s">*</span>Select Group</th>
          <td>
            <div class="form-group w-text">
              <select class="form-control" required>
                <option>Selection</option>
                <option value="客服主管">CR Manager</option>
                <option value="客服專員">客服專員</option>
                <option value="系統審核主管">系統審核主管</option>
                <option value="系統管理員">Systen Manager</option>
              </select>
              <div class="help-block with-errors"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <span class="s">*</span>Select Function</th>
          <td>
            <div id="ml-1"></div>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModa2">Selection</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <footer id="copyright" class="footer">
  </footer>
</div>

<div class="modal fade bs-example-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-bg-red">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="confirmBtnClose">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="messageTextTitle">確認視窗</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="message-text" id="messageTextLabel" class="control-label">Message:</label>
          <textarea class="form-control" id="messageText" onKeypress="if(this.value.length >= 200){return false;}"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger confirmOk" id="confirmBtnSubmit">確定</button>
        <button type="button" class="btn btn-danger confirmCancel" id="confirmBtnCancel">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-bg-red">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Access Assignment</h4>
      </div>
      <div class="modal-body" style="text-align: center;text-align: left;">
        <table class="table table-hover table-02 checkAPI">
          <thead>
            <tr>
              <th style="text-align:center;">Function Name</th>
              <th style="text-align:center;">Check/UnCheck</th>
            </tr>
          </thead>
          <tr class="info">
            <td>Access Control </td>
            <td></td>
          </tr>
          <tr>
            <td>Group management
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="人員群組管理" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Group function management - Function name editor
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="群組功能管理-功能名稱編輯" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Group function management
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="群組功能管理-群組功能管理" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Personal setting
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="人員設定" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>Push platform </td>
            <td></td>
          </tr>
          <tr>
            <td>APP Set up</td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="APP 設定" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Channel Set up</td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="Channel 設定" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>API Set up</td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="API 設定" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>Notificatin </td>
            <td></td>
          </tr>
          <tr>
            <td>Notificatin Set Up
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="通知項目設定" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>Marketing Message </td>
            <td></td>
          </tr>
          <tr>
            <td>Import Marketing Customer List
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="行銷通知名單匯入" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Marketing Message Establishment
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="行銷通知建立" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Marketing Message Inquiry
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="行銷通知查詢" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Marketing Message Approval
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="行銷通知審核" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Marketing Message History Records Inquiry
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="行銷通知歷史資料查詢" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>Preferential Message </td>
            <td></td>
          </tr>
          <tr>
            <td>Preferential Message Establishment
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="優惠通知建立" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Import Preferential Customer List
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="優惠通知查詢" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Preferential Coupon Stock inquiry
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="優惠通知紀錄查詢" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Reissue Preferential Message
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="Reissue Preferential Message" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Reissue Preferential Message Approval
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="Reissue Preferential Message Approval
                " name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>Customer Service Inquiry </td>
            <td></td>
          </tr>
          <tr>
            <td>Notification Inquiry
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="通知訊息查詢" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>Reports</td>
            <td></td>
          </tr>
          <tr>
            <td>MIS Report</td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="MIS Report" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Account Statement

            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="帳務類報表" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr class="info">
            <td>S.T. Reports
            </td>
            <td></td>
          </tr>
          <tr>
            <td>User List Report

            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="使用者名單報表" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Access Matrix Report

            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="功能群組權限對照表" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sign-On Violation Report
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="違規嵌入報表" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Resource Violation Report
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="逾權存取報表" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Dormant User Ids List
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="靜止不使用帳號清單" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>User Ids Maintenance Activity Report
            </td>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="使用者帳號維護活動報表" name="apiCheckbox">
                </label>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="allCheck()">Chack All</button>
        <button type="button" class="btn btn-danger" onclick="falseCheck()">UnCheck All</button>
        <button type="button" class="btn btn-danger" id="ms-1" data-dismiss="modal" onclick="showCheck()">Confirm</button>
      </div>
    </div>
  </div>
</div>
