<ol class="breadcrumb">
  <span>權限管理</span>/
  <span class="active">群組功能管理 - 群組功能管理</span>
</ol>
<div class="content">
  <div role="tabpanel" class="tab-pane active" id="coupon02">
    <div class="text-right btn-ft">
      <button mat-stroked-button color="primary" class="btnRight" (click)="showAddPostDialog()">Save</button>
      <button mat-stroked-button color="primary" [routerLink]="[ '/mgt01/mgt010300' ]">Cancel</button>
    </div>
    <form [formGroup]="form" novalidate>
      <table class="table table-striped table-01 tableEdit">
        <tr>
          <th>
            <span class="s">*</span>Select Group</th>
          <td>
            <mat-form-field class="form-field" [hideRequiredMarker]="true">
              <mat-select [(value)]="selected" formControlName="userGroup" required>
                <mat-option value="">Selection</mat-option>
                <mat-option value="1">CR Manager</mat-option>
                <mat-option value="2">客服專員</mat-option>
                <mat-option value="3">系統審核主管</mat-option>
                <mat-option value="4">Systen Manager</mat-option>
              </mat-select>
              <mat-error>請選擇群組</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>
            <span class="s">*</span>Select Function</th>
          <td>
            <button mat-stroked-button color="primary" (click)="showSelectFunction()">Selection</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <footer id="copyright" class="footer">
  </footer>
</div>
